body header.container {
    display: flex;
    justify-content: space-between;
    /* padding: 77px 0 62px 0; */
    padding-top: 77px;
    padding-bottom: 62px;

    /* height: 50px; */
}

/* header button {
    background: none;

    border: none;
} */

header img {
    cursor: pointer;
    /* height:fit-content; */
    /* border: 1px solid blue; */
}

.music-type {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

/* .button-list button {
    padding: 8px;
    border-radius: var(--radius-1);
} */

.max-price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

#range {
    margin-bottom: 60px;
    width: 100%;
    /* border: 1px solid red; */
    
}

/* #range::-webkit-slider-thumb {
    appearance: none;
} */

.album-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 60px 0 60px 0;
}

.album-item {
    width: 308px;
    /* border: 1px solid blue; */
    /* border-radius: 8px; */
    background-color: var(--color-grey-8) ;
    /* z-index: 10; */
}

.album-item:hover{
    background-color: var(--color-grey-7);
}

.album-item:hover img{
    transform:scale(1.2);
    cursor: pointer;
    /* z-index: 1; */
}



.album-image{
/* border: 1px solid green; */
height: 113px;
width: 100%;
overflow: hidden;
}

.album-image img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-1) var(--radius-1) 0 0 ;
    /* border: 1px solid blue; */
    /* height: 113px; */
    /* object-fit:scale-down; */
    transition: 0.3s ease-in-out;
}

.album-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    /* border: 1px solid red; */
}

.album-content div:first-child{
    display: flex;
    gap: 20px;
}

.album-content div:last-child{
    display: flex;
    justify-content: space-between;
}

.album-content div:last-child button{
    display: flex;
    justify-content: space-between;
}



body.dark-mode,
body.dark-mode button{
    background-color: var(--color-grey-0);
    color: var(--color-grey-8);
}

body.dark-mode button{
    background-color: var(--color-grey-2);
    /* border: 1px solid var(--color-grey-2); */
    /* color: var(--color-grey-8); */
}

body.dark-mode button:hover{
    background-color: var(--color-grey-1);
    /* background-color: var(--color-grey-2); */
    /* border: 1px solid var(--color-grey-9); */

}

body.dark-mode .album-item {
    background-color: var(--color-grey-1) ;
}

body.dark-mode .album-item:hover {
    background-color: var(--color-grey-2) ;
}
/* button.dark-mode{
    color: var(--color-grey-1);
} */